<!-- individual list item with details -->
<div class="listdetail contents-container">
    <h2 class="detail-header"><span>{{ displayList.name }}</span></h2>
    <h6 class="detail-header" style="justify-content: end">
        <span>Created by <b>{{ displayList.owner_name }}</b></span>
        <span class="spacer">&diams;</span>
        <span> {{displayList.tracks[0].items.length}} Songs, {{ durationTime }} min</span>
        <span class="spacer">&diams;</span>
        <span>{{ playlistCreated }}</span>
    </h6>
    <div class="items">
            <div class="panel-default">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Duration</th>
                        <th>Added by</th>
                        <th>Likes #</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, item) in displayList.tracks[0].items" track-id={{item.id}}>
                        <td><img class="listItemImg" src={{item.track.album.images[0].url}} /></td>
                        <td>{{ item.track.name }}</td>
                        <td>{{ getArtistsString(key) }}</td>
                        <td> {{ millisToMinutesAndSeconds(item.track.duration_ms)}} </td>
                        <td> {{ item.added_by.type}}</td>
                        <td title={{likesDict[item.track.id].likes.join(',')}}> {{ likesDict[item.track.id].likes.length }}</td>
                        <td ng-if="likesDict[item.track.id].likeStatus">
                            <img class="likeBtn" ng-src="../images/likeBtn2.jpg" ng-click="toggleLikeStatus(item)"
                                  ng-init="item.likeStatus= true">
                        </td>
                        <td ng-if="!likesDict[item.track.id].likeStatus">
                            <img class="likeBtn" ng-src="../images/dislikeBtn.png" ng-click="toggleLikeStatus(item)">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="" data-block="true" data-editor="buu85" data-offset-key="eidt1-0-0"><div data-offset-key="eidt1-0-0" class="_1mf _1mk"><span data-offset-key="eidt1-0-0"><br data-text="true"></span></div></div>
                <div>
                    <span><a  href='#/addTrackToPlayList' class="btn btn-primary ">Watch all comemnts!</a></span>

                </div>
            </div>
    </div>
</div>




