<!-- All Lists View -->

<div class="user-details media">
    <div class="pull-left">
        <img class="media-object" width="150" src="{{user_img}}" />
    </div>
    <div class="media-body">
        <dl class="dl-horizontal">
            <dt>Hi</dt>{{displayName}}!</dd>
        </dl>
    </div>
</div>
<div class="all-lists contents-container">
    <h3>You have {{NumOfPlaylists}} playlists: </h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Tracks Number</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="list in allLists | orderBy:'due_at' | filter:search" listitem-id={{list.id}} ng-click="displayDetail(list.id)">
                <td><img class="listitem-img" src="{{list.images[0].url}}"/></td>
                <td>{{ list.name }}</td>
                <td>{{ list.tracks.total }}</td>
                <!--<td>{{ list._id }}</td>-->
                <!-- <td><a ng-click="addJob(list)" class="btn btn-primary btn-sm active">Add Job</a></td>-->
            </tr>
            </tbody>
        </table>
</div>
